<!-- HELP VIEW - INSTRUCTIONS ON HOW TO PLAY THE GAME -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="/favicon_io/favicon-32x32.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/footerStyle.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>GuessIt</title>
  </head>

  <header>
    <h1 id="header-start">GuessIt!</h1>
  </header>
  <body>
    <div class="help">
      <span>
        <h3 class="help">How to play the game</h3>
        <!-- Instructions on how to play the game -->
        <p id="helpP">
          In order to play the game, you will first enter a username and choose
          a room number in the lobby. If you are a premade team, you will need
          to chose the same room number, in order to be able to play together.
          The game will start when 2 players are connected to the same room.
          <br /><br /><strong>Game play</strong><br />When the game starts, all
          players, except for one, will be able to see an image and the name of
          the person, animal, etc. on the image. These people are known as
          helpers throughout the game. The last player will be known as the
          guesser, and they cannot see the picture or hints. It is the helpers
          job to come with hints through the chat about the identity of the
          person or animal on the picture.
          <strong
            >It is not allowed to write the correct word in the chat if you are
            the helper</strong
          >. Through the hints from the helper, the guesser can type in the name
          of the word in the chat, as long as there is still time left. If the
          person guesses correctly they will receive 1 points, otherwise, they
          will not receive any points. The correct word is case-sensitive.
        </p>
      </span>
    </div>
    <footer>
      <nav>
        <ul>
          <li id="footerlist"><a href="">About Us</a></li>
          <li id="footerlist"><a href="">Contact Us</a></li>
          <li id="footerlist"><a href="">Privacy</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>