<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuessIt!</title>
    <link rel='stylesheet' href='/stylesheets/footerStyle.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<header>

    <h1>GuessIt!</h1>
</header>

<body>
    
    <div>
        <div class="grid-container col-12">
   
            <form class="col-12">
                <button type="submit" class="btn" formaction="/lobby">
                    Start
                </button>
            </form>

            <form class="col-12">
                <button type="submit" class="btn" formaction="/settings">
                    Settings
                </button>
            </form class="col-12">

            <form>
                <button type="submit" class='btn' formaction="/help">
                  Help
                </button>
            </form>

    </div>

    <footer>

        <nav>
            <ul>
                <li id="footerlist"><a href="">About Us</a></li>
                <li id="footerlist"><a href="">Contact Us</a></li>
                <li id="footerlist"><a href="">Privacy</a></li>
            </ul>
        </nav>

    </footer>

</body>
</html>

<!-- 
    test comment - git
--></meta>