<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="/favicon_io/favicon-32x32.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/footerStyle.css" />
    <link rel="stylesheet" href="/stylesheets/lobbyStyle.css" />
    <title>GuessIt</title>
  </head>

  <header>
    <h1 id="header-start">GuessIt!</h1>
  </header>

  <body>
    <div class="join-container">
      <header class="join-header">
        <h1><i class="fas"></i> Lobby</h1>
      </header>
      <main class="join-main">
        <form>
          <div class="form-control">
            <label for="username">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Enter username..."
              required
            />
          </div>
          <div class="form-control">
            <label for="room">Room</label>
            <select name="room" id="room">
              <% room_list.forEach(function(room){ %>
              <option value="<%= room.name %>"><%= room.name %></option>
              <% }) %>
            </select>
          </div>
          <button type="submit" class="btn" formaction="/game">
            Join Game
          </button>
        </form>
      </main>
    </div>
    <footer>
      <nav>
        <ul>
          <li id="footerlist"><a href="">About Us</a></li>
          <li id="footerlist"><a href="">Contact Us</a></li>
          <li id="footerlist"><a href="">Privacy</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
